:root {
    --main-bg-color: #031113;
    --main-text-color: #c0d0cc;
}

html, body {
    color: var(--main-text-color);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body {
    background: var(--main-bg-color);
    overflow: hidden;
    height: 100vh;
}

canvas {
    border: 1px solid var(--main-text-color);
    border-radius: 10px;
}

#container {
    position: relative;
    min-height: 100vh;
}

#game {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;

    padding-bottom: 2rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;

    text-align: center;
    font-size: 0.75rem;
}

#controls {
    margin-top: 5px;
    padding: 10px;
    text-align: center;

    border: 1px solid var(--main-text-color);
    border-radius: 10px;
}

#size {
    margin-left: 5px;
    margin-right: 30px;
}

a:link, a:visited {
    text-decoration: none;
    color: var(--main-text-color) !important;
}

a:hover, a:active {
    color: var(--main-text-color) !important;
}

